#include "Resource.h"
#include <Windows.h>

1 RT_MANIFEST "App.manifest"
IDI_APP_ICON ICON "Stingray.ico"

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 1,0,0,0
	PRODUCTVERSION 1,0,0,0
	FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
	FILEFLAGS 0
	FILEOS VOS__WINDOWS32
	FILETYPE VFT_APP
	FILESUBTYPE VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "CompanyName", "JackiBackiBoy"
			VALUE "FileDescription", "Stingray"
			VALUE "FileVersion", "1.0.0.0"
			VALUE "InternalName", "Stingray"
			VALUE "OriginalFilename", "Stingray.exe"
			VALUE "ProductName", "Stingray"
			VALUE "ProductVersion", "1.0.0.0"
			VALUE "LegalCopyright", "Copyright (C) 2024-2025 JackiBackiBoy"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1200
	END
END
