[submodule "Dependencies/FreeType"]
	path = Dependencies/FreeType
	url = https://github.com/freetype/freetype
[submodule "Dependencies/GLM"]
	path = Dependencies/GLM
	url = https://github.com/g-truc/glm
[submodule "Dependencies/Volk"]
	path = Dependencies/Volk
	url = https://github.com/zeux/volk
[submodule "Dependencies/VMA"]
	path = Dependencies/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Dependencies/FastGLTF"]
	path = Dependencies/FastGLTF
	url = https://github.com/spnda/fastgltf
[submodule "Dependencies/D3D12MA"]
	path = Dependencies/D3D12MA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
