[submodule "Dependencies/FreeType"]
	path = Dependencies/FreeType
	url = https://github.com/freetype/freetype
[submodule "Dependencies/GLM"]
	path = Dependencies/GLM
	url = https://github.com/g-truc/glm
[submodule "Dependencies/TinyGLTF"]
	path = Dependencies/TinyGLTF
	url = https://github.com/syoyo/tinygltf
[submodule "Dependencies/Volk"]
	path = Dependencies/Volk
	url = https://github.com/zeux/volk
